/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}

/* End for testing */
.container {
  width: 98%;
  margin: 0 auto;
}
.logo {
   height: 25px;
   display: inline-block;
   width: 25%;
}
.nav {
  text-align: center;
}
.nav ul {
  padding: 0;
}
.nav ul li {
  display: inline-block;
  width: 20%;
  text-align: center;
}
.main {
  height: 50%;
  width: 100%;
  text-align: center;
}
.secondary {
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.8)
}
.texts, .extra {
  display: none;
}
/*Media Queries*/
@media screen and (min-width: 800px) {
 .leftcol,
 .rightcol {
   display: inline-block;
   width: 48%;
   height: 100%;
 }
 .leftcol p, .leftcol h1 {
   float: left;
 }
 .gallery {
   text-align: center;
 }
 .secondary {
   width: 32%;
   display: inline-block;
 }
 .additional-content {
   text-align: center;
 }
 .texts, .extra {
  display: inline-block;
  width: 48%;
}
.texts p, .extra p, .texts h2, .extra h2 {
  float: left;
  text-align: left;
}
.texts p, .extra p {
  height: 15%;
}
}